.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #ff24a0ba;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
}

.titulo {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.texto {
    color: #ffffff;
    margin: 10px 0;
    line-height: 1.6;
    font-size: 1rem;
}

.imagem {
    border-radius: 10px;
    margin: 20px 0;
}

.botao {
    background: #ffffff;
    color: #ff24a0;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
}

.font-inter {
    font-family: var(--font-inter);
}